<h2>Cyclic Table Probes</h2>
<p>This pakage contains two sets of custom probes, "Cyclic Table" and "Quick Timer":</p>
<h4>Cyclic Table:</h4>
<p>These "history" probes display a (cyclicly-updating) list of recent values, along with the millisecond timer when those values were read.</p>
<h4>Quick Timer:&nbsp;</h4>
<p>A set of internally linked probes used for execution timing. Each probe charts the time since the previous probe (of any type; all Quick Timer probes are linked). These probes are intended to be used in groups, usually at the start and end of a subcalculation of interest. Quick Timer probes use the microsecond timer, but not that execution of the probe itself takes time, and this time depends on the size of the data value being probed.</p>
<p>Both probe types support a range of datatypes, including objects and variants. Cyclic Table also has a type to support string-variant clusters, a type sometimes uses in messaging systems. Any special type can be supported by creating a new probe (copying an existing probe as a template).&nbsp; &nbsp;On a wire, right-click and select "Custom Probe&gt;New..." and then select "Create a Probe from an Existing Probe".</p>
<p>For support please see <a title="[CR] Cyclic Table Probes" href="https://lavag.org/files/file/235-cyclic-table-probes/" target="_blank" rel="noopener">[CR] Cyclic Table Probes</a> and <a title="Issues" href="https://bitbucket.org/drjdpowell/cyclic-table-probes/issues?status=new&amp;status=open">Bitbucket Issue Tracker</a>.</p>
<p><strong>Compatible LabVIEW Versions:</strong> &gt;= 2017</p>
<p><strong>Compatible OS Versions:</strong> ALL (but Cyclic Table probes do not resize on Real Time).</p>